<a href="https://colab.research.google.com/github/92username/practice_python_repeat_a_lot/blob/main/python_repeat_a_lot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a, b = 0, 1

while a < 2000:

    print(a)

    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

## Exercício 1:
Crie uma variável chamada `nome` e outra chamada `idade`. Atribua valores a elas e exiba:

In [5]:
nome = "Arlindo Cruz"
idade = 70
print(f"Meu nome é {nome} e tenho {idade} anos")

Meu nome é Arlindo Cruz e tenho 70 anos

## Exercício 2:
Crie duas variáveis `a` e `b` com valores inteiros. Troque os valores sem usar uma variável auxiliar.

In [6]:
a,b = 7, 49
print(f"variavel a é {a} e variável b é {b}")
a,b = b,a
print(f"agora variavel a é {a} e variável b é {b}")

variavel a é 7 e variável b é 49
agora variavel a é 49 e variável b é 7

## Exercício 8:
Atribua um valor booleano (`True` ou `False`) a uma variável `chave` e exiba o tipo dessa variável usando `type()`.

In [10]:
chave = False
print(type(chave))

<class 'bool'>

## Exercício 9:
Armazene o valor `1234` em uma variável `numero`. Converta para uma string e exiba quantos dígitos ela possui.

In [13]:
numero = 1234
numero =str(numero)
print(len(numero))

4

## Exercício 10:
Defina três variáveis: `a = 5`, `b = 10`, e `c = 2`. Realize a expressão:
```
resultado = a * (b + c) / c
```

In [14]:
a,b,c = 5, 10, 2
resultado = a * (b+c) / c
print(resultado)

30.0

## Exercício 12:
Atribua valores a duas variáveis `x` e `y`. Inverta os valores utilizando a técnica de múltipla atribuição.

In [15]:
x, y = 7, 45
print(x,y)
x, y = y, x
print(x,y)

7 45
45 7

## Exercício 13:
Defina uma variável `fruta` e atribua o valor `"maçã"`. Use `len()` para contar quantos caracteres existem na string.

In [16]:
fruta = "Maçã"
print(len(fruta))

4

## Exercício 14:
Armazene dois valores nas variáveis `numero1` e `numero2`. Arredonde a média deles para 2 casas decimais.

In [19]:
numero1, numero2 = 7, 6
calcula_media = (numero1 + numero2) / 2
print(f"A media de numero1 e numero2 com precisão de duas casas decimais é {calcula_media:.2f}")

A media de numero1 e numero2 com precisão de duas casas decimais é 6.50

## Exercício 15:
Crie uma variável `salario` e atribua um valor. Aumente o salário em 15% e exiba o valor atualizado.

In [21]:
salario, aumento = 2200, 0.15
salario_aumento = salario + (salario * aumento)
print(salario_aumento)

2530.0

## Exercício 16:
Armazene uma frase em uma variável chamada `texto`. Substitua todas as ocorrências da palavra "Python" por "Dart".

In [ ]:
texto = "Python é uma linguagem de programação"
texto = texto.replace("Python", "Dart")
print(texto)

o mesmo exercicio anterior, mas sem AI e trocando o texto.  de Gato para Nego preto.

In [25]:
texto = "Eu tenho um gato que eu apelidei de Nego Preto"
print(texto)
texto = texto.replace("Nego Preto", "Clarinha")
print(texto)

Eu tenho um gato que eu apelidei de Nego Preto
Eu tenho um gato que eu apelidei de Clarinha

## Exercício 17:
Defina duas variáveis `base` e `altura`. Calcule a área de um triângulo:
```
area = (base * altura) / 2

In [26]:
base, altura = 7, 8
area = (base*altura)/2
print(area)

28.0

## Exercício 18:
Crie uma variável `idade` e outra `ano_nascimento`. Calcule o ano atual subtraindo:
```
ano_atual = ano_nascimento + idade
```

In [27]:
idade = 45
ano_nascimento = 1978
ano_atual = ano_nascimento + idade
print(ano_atual)

2023

## Exercício 19:
Armazene uma string contendo números separados por vírgulas (`"1,2,3,4,5"`). Divida essa string em uma lista.

In [31]:
numeros = "1,2,3,4,5"
lista_numeros = numeros.split(",")
print(lista_numeros)

['1', '2', '3', '4', '5']

## Exercício 20:
Atribua valores às variáveis `distancia` e `tempo`. Calcule a velocidade média usando:
```
velocidade = distancia / tempo
```

In [32]:
distancia, tempo = 200, 2
velocidade = distancia / tempo
print(velocidade)

100.0

## Exercício 21:
Crie uma variável `numero` com um valor inteiro. Converta esse número para **float** e **string**, exibindo os três valores.

In [34]:
numero = 10              # Atribuindo um valor inteiro
numero_float = float(numero)  # Convertendo para float
numero_string = str(numero)   # Convertendo para string

# Exibindo os três valores
print(numero)            # Exibe o valor inteiro
print(numero_float)      # Exibe o valor em ponto flutuante
print(numero_string)     # Exibe o valor como string

10
10.0
10

In [36]:
number = 315
print(number)
number_float = float(number)
print(f"{number:.2f}")
number_string = str(number)
print(number)

315
315.00
315

## Exercício 22:
Defina a variável `valor_inicial` com 1000. Aplique um desconto de 10% e exiba o valor final.

In [37]:
valor_inicial = 1000
desconto = 0.1
valor_final = valor_inicial - (valor_inicial * desconto)
print(valor_final)

900.0

## Exercício 23:
Armazene um número decimal em uma variável `numero`. Use `round()` para arredondá-lo para a parte inteira.

In [39]:
numero = 7.33
resultado = round(numero)
print(resultado)

7

## Exercício 24:
Crie uma variável `texto` com a frase "Aprendendo Python". Use o método `.upper()` para exibir a frase em letras maiúsculas.

In [40]:
texto = "Aprendendo Python"
resultado = texto.upper()
print(resultado)

APRENDENDO PYTHON

## Exercício 25:
Armazene uma variável chamada `repeticoes` com valor `5`. Use a multiplicação de strings para exibir:
```
Python Python Python Python Python
```

In [42]:
repeticoes = 5
texto = "Python "
resultado = texto * repeticoes
print(resultado)

Python Python Python Python Python